body {
    background: rgb(175, 175, 175);
}

.tarjetasInlineBlock{
    margin: 30px;
    max-width: 500px;
    border: 2px solid black;
    background: chocolate;
    display: inline-block;
}

h1, div{
    text-align: center;
}
